<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>장소목록</h2>
	<hr>
	<table border="1" width="80%">
		<thead>
			<tr>
				<th>장소번호</th>
				<th>장소이름</th>				
				<th>룸번호</th>
				<th>룸이름</th>
				<th>룸가격</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each = "r:${list}">
				<td th:text="${r.place.place_num}"></td>
				<td th:text="${r.place.place_name}"></td>
				<td th:text="${r.room_num}"></td>
				<td th:text="${r.room_name}"></td>
				<td th:text="${r.room_price}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>